{% extends "register.html" %}


{% block content %}

<div class="form-login">

  <div class="title-login">
    <h2>Login</h2>
  </div>
  <form action="{% url 'login' %}" method="post" class="form-form-login">
    {% csrf_token %}

    <label for="{{ form.username.id_for_label}}">Email</label>
    {{ form.username }}
    {{ form.errors }}

    <label for="{{ for.password.id_for_label }}">Password</label>
    {{ form.password }}
    {{ form.errors }}

    <input type="submit" value="Entrar" name="submit" class="input-form-login">
    
  </form>
  <a href="{% url 'password_reset' %}">Esqueci Senha</a>
</div>
{% endblock %}