{% extends 'home.html ' %}

{% block content %}

  <div class="payment-success">
   <div class="title-payment">
    <h2>Erro ao Processar Seu Pagamento</h2>
   </div>

   <div class="paragraph-payment">
    Lamentamos informar que encontramos um problema ao tentar processar seu pagamento recente. Compreendemos que esse contratempo pode ser inconveniente, e estamos empenhados em resolver a situação o mais rapidamente possível para garantir sua satisfação.
    <br>
    <br>
    Olhe seu email para obter mais detalhes da compra
   </div>
  </div>

{% endblock %} 