{% extends 'register.html' %}



{% block content %}
  <div class="title-h2">
  <h2 class="title">Todos os agendamentos</h2>
  </div>


  <div class="container-all-schedulings ">
    

    <table id="table">
      
    <thead class="thead">
      <tr>
        <th scope="col" class="th">Cliente</th>
        <th scope="col" class="th">Data do Serviço</th>
        <th scope="col" class="th">Horário</th>
        <th scope="col" class="th">Preço</th>
        <th scope="col" class="th">Pago</th>
      </tr>
    </thead>
    <tbody>
      {% for finance in finances_objects %}
      <tr>
        <th scope="row">{{ finance.scheduling.user }}</th>
        <td class="th"> {{ finance.scheduling.day }}</td>
        <td class="th">{{ finance.scheduling.get_time_display }}</td>
        <td class="th">{{ finance.scheduling.service.price }}</td>
        {% if finance.scheduling.paid %}
        <td class="th">Sim</td>
        {% else %}
        <td class="th">Não</td>
        {% endif %}
      </tr>
      
      {% endfor %}
    </tbody>
    </table>
  </div>
  <div class="total-value-finance">
    
    <h4>Total: R$ {{finance.total_value}}</h4>
    <h4>Maior valor de Serviço: R$ {{finance.max_value_service_scheduling}}</h4>
    <h4>Total de agendamentos ano: {{finance.total_scheduling}}</h4>
    <h4>Total de agendamentos pagos: {{finance.total_scheduling_paid}}</h4>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}