{% extends 'register.html' %}
{% load static %}





{% block content %}

<script>
  function playSound() {
    var sound = new Audio('{% static "sounds/sound.mp3" %}');
    sound.play();
  }

  playSound();
</script>

<div class="title-h2">
  <h2 class="title-1">Agendamentos</h2>
  <h2 class="title-2">do Dia</h2>
  </div>


  <div class="container-all-schedulings ">
    

    <table id="table">
      
    <thead class="thead">
      <tr>
        <th scope="col" class="th">Cliente</th>
        <th scope="col" class="th">Data do Serviço</th>
        <th scope="col" class="th">Horário</th>
        <th scope="col" class="th">Preço</th>
      </tr>
    </thead>
    <tbody>
      {% for scheduling in scheduling_to_day %}
      <tr>
        <th scope="row">{{ scheduling.user}}</th>
        <th class="th">{{ scheduling.day }}</th>
        <td class="th">{{ scheduling.get_time_display }}</td>
        <td class="th">{{ scheduling.service.price }}</td>
      </tr>
      
      {% endfor %}
    </tbody>
    </table>
  </div>

{% endblock %}