{% extends 'register.html' %}


{% block content %}
<div class="container-form">
<div class="text-reset">
    <h2>Esqueceu sua senha?</h2>
    <p class="reset-p">Informe seu email para enviarmos um link de redefinição</p>
</div>

<div class="form-rest">
<form method="post" class="form-password-reset">

  {% csrf_token %}
  <label for="{{ form.email.id_for_label }}" class="label-reset">Email</label>
  {{form.email}}
  {{form.errors}}

  <input type="submit" value="Enviar" name="submit" class="reset">
</form>
</div>
</div>
{% endblock %}
