body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

header { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;

}

#title {
  flex-direction: column;
  line-height: 10px;
}

li {
  display: inline-block;
}

a {
  margin: 10px;
  color: white;

}

a:hover{
  color: rgb(132,14,201);
  transition: 0.3s all;
}

#inscreva-se-btn {
  border: 2px solid  rgb(153,50,204);
  padding: 10px;
  border-radius: 20px;
  color: white;
}

#inscreva-se-btn:hover{
  background-color:  rgb(153,50,204);
}

main {
  display: flex;
  flex-direction: row;
  margin: 20px;
  align-items: center;
}


form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

input {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

p {
  max-width: 70%;
  line-height: 20px;
}

h2 {
  font-size: 50px;
  font-family: 'Rubik Doodle Shadow';
  line-height: 10px;
}

#first-title {
  color: rgb(153,50,204);
}

.btn-submit{
  background-color: rgb(132,14,201);
  color: white;
  font-family: 'Rubik Doodle Shadow';
  width: 50%;
}

.btn-submit:hover {
  background-color: rgb(153,50,204);
  transition: 0.3s all;
}

article {
  margin-top: 10px;
  max-width: 50%;

}

#service-card {
  margin-top: 100px;
  display: flex;
  flex-direction: row;

}

#div-services {
  display: flex;
  justify-content: center;
}

.img-home {
  border-radius: 30px;
  width: 100%;
  height: 100%;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 34, 34);
  margin: 30px;
  border-radius: 30px;
}

.btn-options{
    padding: 20px;
}


.btn-options:hover {
  background-color:  rgb(153,50,204);
  border-radius: 30px;
  color: white;
  transition: 0.3s all;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding-top: 50px;

}

.card {
  max-width: 1000px;
  border-radius: 20px;
}










